* {
     font-family: "Segoe UI";
 }
 
 /* NAV */
 .last {
     margin: -12px;
 }
 
 .last img {
     display: flex;
     justify-content: space-around;
     align-items: center;
 }
 
 .logo img {
     width: 180px;
 }
 
 nav {
     margin: 17px;
     display: flex;
     justify-content: space-around;
     align-items: center;
 }
 
 .right ul {
     display: flex;
     gap: 34px;
 }
 
 .right ul li {
     display: flex;
     align-items: center;
     list-style: none;
 }
 
 .right ul li span {
     padding: 5px;
 }
 
 
 /* Below NAV */
 .first {
     margin: 70px;
     bottom: 20px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }
 
 .first span {
     font-size: 50px;
     margin: 30px;
 }
 
 .M-line {
     font-size: 22px;
     text-align: center;
     padding: 0 14rem;
     margin: 20px;
     font-weight: 350;
 }
 
 .download {
     height: 50px;
     width: 370px;
     margin: 33px;
     display: flex;
     gap: 20px;
 }
 
 .Btn-color {
     width: 277px;
     background-color: rgb(50, 189, 244);
     border: none;
     font-weight: 700;
     color: white;
     border-radius: 6px;
 }
 .Btn-color:hover{
     background-color: rgb(23, 150, 189);
 }
 
 /* BLOCK 2 of the boady */
 .cover-card {
     margin-top: 30px;
     margin-left: 338px;
 }
 
 .cover-card .F-P {
     display: flex;
     align-items: center;
 }
 
 .cover-card .F-P .l-g img {
     width: 50px;
 }
 
 .cover-card .F-P .title {
     font-size: 30px;
     margin: 0px 8px 0 20px;
 }
 
 .cover-card .F-P .declaration {
     margin: 9px 0px 0px 0px;
 }
 .cover-card .cards{
     background-color: #f3eded;
     width: 285px; 
     height:  200px; 
     border-radius: 7px; 
 }
 .cover-card .c-box{
     display: flex;
     flex-wrap: wrap;
     margin-top: 40px;  
     display: flex;
     gap: 30px;
 }
 .cover-card .cards .h1 {
     height: 370;
     display: flex;
     align-items: center;
     justify-content: center;
 }
 .cover-card .cards .h3{
     
     display: flex;
     align-items: center;
     justify-content: center;
 }
 .cover-card .cards .btn{
     
     display: flex;
     align-items: center;
     justify-content: center;
 
 }
 .cover-card .cards .btn button{
     border-radius: 7px;
     height: 35px;
     background-color: rgb(50, 173, 50);
 }
 .cover-card .cards .btn button:hover{
     background-color: rgb(109, 188, 109);
 }